@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat Black';
    src: url('../fonts/Montserrat-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Montserrat Extra Bold';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  }
  
  /* Estilo de seleccion de las opciones de las Navbar */

.navbarSelected.active {
    color: white;
    position: relative;
  }
  
  .navbarSelected.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: left center;
    transition: transform 1s ease;
  }
  
  .navbarSelected:hover::before {
    transform: scaleX(1);
  }
  
  .navbarSelected:hover {
    color: white;
    text-decoration: none;
  }
  
  .navbarSelected:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.5s ease;
  }
  
    /* Fin del estilo de seleccion de las opciones de las Navbar */

    /* Animacion texto del home */

    @keyframes fadeInDown {
      from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
      }
    
      to {
        opacity: 1;
        transform: none;
      }
    }
    
    .fadeInDown {
      animation-name: fadeInDown;
      animation-duration: 3s;
      animation-fill-mode: both;
    }

/* Fin de la animacion del texto */

    /* Animacion de la flecha */

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    
    .fadeIn {
      animation-name: fadeIn;
      animation-duration: 3s; /* Duración de la animación */
    }


/* Fin de la animacion de la flecha     */

/* Scroll barf */

body::-webkit-scrollbar{
  width: 15px;
}

body::-webkit-scrollbar-thumb{
  background: #808080;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover{
  background: #4d4b4b;
}

/* Fin scroll bar */